@import "main.css";
@import "header.css";
@import "todolist.css";

body {
    /*background-color: grey;*/
    padding: 10px 10px;
    color: black;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    min-width: 600px;
}

input {
    border: none;
}

select {
    border: none;
}

button {
    border: none;
    background-color: inherit;
    width: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

div {
    background-color: white;
    /*border: 1px solid gray;*/
    /*padding: 2px;*/
    /*margin: 2px;*/
}
