<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Modify | Mini-Todo</title>
</head>
<body>

    <header class="header">
        <div class="header__header-column">
            <span class="header__title" th:text="${userName}"></span>
        </div>
        <div class="header__header-column">
            <a class="header__home" href="/">home</a>
        </div>
    </header>

    <main>

        <div>
            <form class="todo-create" th:action="@{/user/{id}/complete(id=${userId}, todo=${target.getId()})}" th:object="${target}" th:method="post">
                <div class="input-content">
                    <input class="input-width" type="text" id="todo-content" name="content" th:field="*{content}"
                           placeholder="Please input Todo Content">
                </div>
                <div class="input-category">
                    <select id="todo-category" name="categoryId" th:field="*{categoryId}">
                        <option th:value=2 th:text="WORK"></option>
                        <option th:value=3 th:text="LIFE"></option>
                    </select>
                </div>
                <div class="input-priority">
                    <select id="todo-priority" name="priorityId" th:field="*{priorityId}">
                        <option th:value=1 th:text="Important_Urgent"></option>
                        <option th:value=2 th:text="Important_NotUrgent"></option>
                        <option th:value=3 th:text="NotImportant_Urgent"></option>
                        <option th:value=4 th:text="NotImportant_NotUrgent"></option>
                    </select>
                </div>
                <div>
                    <button type="submit">수정</button>
                </div>
            </form>
        </div>

    </main>
</body>
</html>