<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Todo-List | Mini-Todo</title>
</head>
<body>

    <header class="header">
        <div class="header__header-column">
            <span class="header__title" th:text="${userName}"></span>
        </div>
        <div class="header__header-column">
            <a class="header__home" href="/">home</a>
        </div>
    </header>

    <main>

        <div>
            <form class="todo-create" action="todolist.html" th:action="@{/user/{id}/todolist(id=${userId})}" th:object="${todoForm}" th:method="post">
                <div class="input-item input-content">
                    <input type="text" id="todo-content" name="content" th:field="*{content}"
                           placeholder="Input Todo Content">
                </div>
                <div class="input-item input-category">
                    <select id="todo-category" name="categoryId" th:field="*{categoryId}">
                        <option th:value=2 th:text="WORK"></option>
                        <option th:value=3 th:text="LIFE"></option>
                    </select>
                </div>
                <div class="input-item input-priority">
                    <select id="todo-priority" name="priorityId" th:field="*{priorityId}">
                        <option th:value=1 th:text="Important_Urgent"></option>
                        <option th:value=2 th:text="Important_NotUrgent"></option>
                        <option th:value=3 th:text="NotImportant_Urgent"></option>
                        <option th:value=4 th:text="NotImportant_NotUrgent"></option>
                    </select>
                </div>
                <div>
                    <button type="submit">추가</button>
                </div>
            </form>
        </div>


        <div>
            <th:block th:if="${todoList.size()} == 0 and ${doneList.size()} == 0">
                <span class="todo-list__title">할 일이 없니?</span>
            </th:block>
        </div>

        <div>
            <th:block th:if="${todoList.size()} != 0">
                <span class="todo-list__title">해야할 일</span>
                <div class="todo-list"
                     th:each="todo : ${todoList}"
                     th:style="${todo.categoryId == 2 ? 'background-color: #58D68B;' : 'background-color: #F7D370'}">
                    <div class="todo-list__data">
                        <div class="todo-item todo-item__priority">
                            <span th:if="${todo.priorityId} == 1">A</span>
                            <span th:if="${todo.priorityId} == 2">B</span>
                            <span th:if="${todo.priorityId} == 3">C</span>
                            <span th:if="${todo.priorityId} == 4">D</span>
                        </div>
                        <div class="todo-item todo-item__content">
                            <span th:text="${todo.content}">todo_content</span>
                        </div>
                    </div>
                    <div class="todo-list__action">
                        <div class="todo-item">
                            <form th:action="@{/user/{id}/toggle(id=${userId}, todo=${todo.getId()})}"
                                  th:method="post">
                                <button type="submit">완료</button>
                            </form>
                        </div>
                        <div class="todo-item">
                            <form th:action="@{/user/{id}/modify(id=${userId}, todo=${todo.getId()})}"
                                  th:method="post">
                                <button type="submit">수정</button>
                            </form>
                        </div>
                        <div class="todo-item">
                            <form th:action="@{/user/{id}/delete(id=${userId}, todo=${todo.getId()})}"
                                  th:method="post">
                                <button type="submit">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>


        <div>
            <th:block th:if="${doneList.size()} != 0">
                <span class="todo-list__title">완료된 일</span>
                <div class="todo-list"
                     th:each="todo : ${doneList}"
                     th:style="${todo.categoryId == 2 ? 'background-color: #818C93;' : 'background-color: #ACB4B8'}">
                    <div class="todo-list__data">
                        <div class="todo-item todo-item__priority">
                            <span th:if="${todo.priorityId} == 1">A</span>
                            <span th:if="${todo.priorityId} == 2">B</span>
                            <span th:if="${todo.priorityId} == 3">C</span>
                            <span th:if="${todo.priorityId} == 4">D</span>
                        </div>
                        <div class="todo-item todo-item__content">
                            <del><span th:text="${todo.content}">todo_content</span></del>
                        </div>
                    </div>
                    <div class="todo-list__action">
                        <div class="todo-item">
                            <form th:action="@{/user/{id}/toggle(id=${userId}, todo=${todo.getId()})}"
                                  th:method="post">
                                <button type="submit">복구</button>
                            </form>
                        </div>
                        <div class="todo-item">
                            <form th:action="@{/user/{id}/modify(id=${userId}, todo=${todo.getId()})}"
                                  th:method="post">
                                <button type="submit">수정</button>
                            </form>
                        </div>
                        <div class="todo-item">
                            <form th:action="@{/user/{id}/delete(id=${userId}, todo=${todo.getId()})}"
                                  th:method="post">
                                <button type="submit">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

    </main>
</body>
</html>